@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "bootstrap";

body {
	font-family: 'Raleway', sans-serif;
}


.navbar-bottom-shadow {
	-webkit-box-shadow: 0 2px 1px -1px #999999;
	   -moz-box-shadow: 0 2px 1px -1px #999999;
	        box-shadow: 0 2px 1px -1px #999999;
}

.home_top_margin {
	margin-top: 6%;
}

.column_width_manager{
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
}

.btn {
	border-radius: 0 !important;
}

.box_al{
	background-color: #f3f1f1;	
}

.the_underline {
	text-decoration: underline solid #f3f1f1;
}

.outerbox_signup{
	background-color: #f3f1f1;
}

.footer {
	height: 100px;
	border-top: 1.5px solid grey;
}

